.nav {
    height: 41px;
    background-color: #fcfcfc;
    border-top: 3px solid #ff8500;
    border-bottom: 1px solid #edeef0;
    line-height: 41px;
}

.nav a {
    color: #4c4c4c;
    text-decoration: none;
    display: inline-block;
    height: 41px;
    line-height: 41px;
    padding-left: 10px;
    padding-right: 10px;
    /* margin: 0cm; */
}

.nav a:hover {
    color: #ff8500;
    background-color: rgb(189, 188, 188);
}