* {
    margin: 0;
    padding: 0;
}

.kuaibao {
    width: 315px;
    height: 205px;
    border: 2px solid #daddda;
    margin: 20px auto;
    color: #838580;
}

.kuaibao .title {
    height: 40px;
    border-bottom: 1px dotted #daddda;
}

.title h3 {
    line-height: 40px;
    font-weight: 400;
    padding-left: 20px;
}

.list {
    margin-top: 20px;
    margin-bottom: 15px;
    height: 130px;
}

.list ul li {
    padding-left: 25px;
    list-style-type: none;
    line-height: 25px;
    height: 25px;
}

.list ul li a {
    text-decoration: none;
    color: #838580;
}

.list ul li a:hover {
    color: orange;
}